name: License year updater            

on:
  schedule:
    - cron: '0 3 1 1 *'
  workflow_dispatch:  # This allows manual triggering of the workflow

permissions:
  contents: write
  pull-requests: write
  repository-projects: write
  actions: write
  attestations: write
  checks: write
  deployments: write
  discussions: write
  issues: write
  packages: write
  pages: write
  security-events: write
  statuses: write
  id-token: write

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone project
        uses: actions/checkout@v6

      - name: Update copyright year
        uses: p3lim/license-year-updater@v2
        with:
          files: |
            ./LICENSE
            ./InterruptDispatcher.h

      - name: Create pull request
        uses: peter-evans/create-pull-request@v8
        with:
          title: Update copyright year
          commit-message: Update copyright year
          branch: update-copyright-year
          delete-branch: true
